[submodule "LibAPR"]
	path = LibAPR
	url = https://github.com/AdaptiveParticles/LibAPR.git
	branch = develop_joel
[submodule "pybind11"]
	path = pybind11
	url = https://github.com/pybind/pybind11.git
	branch = master
